.btn-new {
    --background: #667eea;
    --background-activated: #0033fd;
    --background-focused: #667eea;
    --background-hover: #5a6fd6;
    --color: #fff;
    --border-radius: 16px;
    width: 92%;
    margin: 12px auto;
}